body{
    background-color: #999999;
}

#container{
    background-image: url(../images/head-background.jpg);
    background-repeat: no-repeat;
    
    background-color: #eeeeec;
    margin-top:30px;
    margin-right 10%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 95%;
    
}



#main-content{
    padding-top: 260px;
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 3%;
}

#logo{
    float: left;
}
/*----------------------------------------navigation begin ----------------------------- */

#navcontainer
{
width: 100%;
float: left;
background-color: rgba(67, 106, 85, 0.7);
}

#navcontainer ul { padding: 0; }
#navcontainer ul li { display: inline; }

#navcontainer ul
{
margin: 0;
padding: 0% 0 0 22%;
color: #FFFFFF;
font-family: tahoma, verdana, geneva, arial, helvetica, sans-serif;
font-size: .65em;
letter-spacing: .125em;
font-weight: bold;
}

#navcontainer ul li a
{
padding: 0.2em .750em;
background-color: rgba(67, 106, 85, 0.7);
color: #FFFFFF;
text-decoration: none;
float: left;
border-right: 1px solid #94B473;
}

#navcontainer ul li a:hover
{
background-color: rgba(140, 156, 100, 0.7);
color: #FFFFFF;
}

#navlist li a:hover, #navlist li a:active
{
color: #FFFFFF;
text-decoration: none;
background: #CC3333;
text-align: left;
/*text-transform: uppercase;
font: bold normal .625em/1em "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif;*/
}

/*    navigation end    */


